footer {
    width: 100%;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    height: 3.5vw;
    z-index: 100;
    background-color: var(--primary-color);
}

footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6vw;
    color: white;
}