nav{
    padding: 2%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.nav-link{
    color: var(--secondary-color);
    text-decoration: none;
}

.nav-link.active{
    background-color: var(--secondary-color);
    color: black;
    border-radius: 25%;
}