:root{
    --primary-color: #e81e2b;
    --secondary-color: #ffffff;
    --button-color: #FFCC00;
    --view-background: #181c2c;

    /* Login/Register colors */
    --border-color: rgb(223, 223, 223);

    /* Modal colors */
    --modal-background: rgb(0, 0, 0);
    --modal-input: rgb(54, 54, 54);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
}

main.principal-container {
    padding-top: 4.5%;
}

h2.page-title {
    color: var(--secondary-color);
    font-size: 1.2vW;
}

.page-top {
  position: fixed;
  width: calc(100% - 6vw);
  top: 4.4vw;
  z-index: 10;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.7vw;
}

.alert{
    color: var(--secondary-color);
    text-align: center;
    width: 100%;
    font-size: 0.9vw;
}

