:root{
    --primary-color: #e81e2b;
    --secondary-color: #ffffff;
    --button-color: #FFCC00;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
}