.teams-container{
    padding: 0 3vw;
    position: relative;
}

.teams-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1vw;
    margin-top: 6vw;
    padding-bottom: 4vw;
}

.card-team{
    width: 19.13%;
    background-color: var(--secondary-color);
    height: 20vw;
    border-radius: 0.8vw;
}

.teams-container .card-top{
    width: 100%;
    background-color: var(--view-background);
    border-top-left-radius: 0.8vw;
    border-top-right-radius: 0.8vw;
    height: 50%;
    position: relative;
}

.card-team .card-top img{
    width: 35%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-team .card-body {
    padding: 0.5vw;
    font-size: 0.8vw;
}

.card-team .card-body .team-details {
    padding: 0.5vw;
}

.card-team .card-body .team-details p span{
    font-weight: bold;
}

.card-team .card-body .team-details p{
    display: flex;
    justify-content: space-between;
    margin-top: 0.3vw;
}

.team-filter{
    position: fixed;
    z-index: 5;
    width: calc(100% - 6vw);
    top: 7.8vw;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 1%;
}

.team-filter select{
    outline: none;
    border: none;
    font-size: 0.8vw;
    border-radius: 1vw;
    padding: 0.2vw 0.5vw;
    width: 10vw;
}

.team-filter label{
    color: white;
    font-size: 0.8vw;

}

